body {
	background-color: #585858;
}

#main-wrapper {
	width:960px;
	margin: 0 auto;
	background-image: url(http://p1.pichost.me/i/31/1546602.jpg)
}

header {
  
	height: 260px;
}

#main-content {
	background-image: url(http://p1.pichost.me/i/31/1546602.jpg)
	float: left;
	width: 660px;
}

aside {
	width:259px;
	background: #e5e5e5;
	float: right;
	height: 0px;
}

footer {
  margin: 0 auto;
	clear:both;
	height:50px;
}

img {
  border-radius:15px;
  float: right;
}
p {
    color: #EBDDE2;
}

li {
    color: #EBDDE2;
    font-size: 15px;
}

style info {
  display: block;
  width:130px;
  height:100px;
}
